footer {
    background-color: #051f34;
    color: #f3f9fbc5;
    font-size: 16px;
    .row-logo {
        margin-top: 4px;
        margin-left: 8px;
    }
    .row-logo label {
        margin-top: 4px;
        margin-left: 8px;
    }
    img {
        width: 30px;
        height: 30px;
    }
}