.navegador {
    background-color: #051f34;
    font-size: 20px;
    .nav-link {
        text-decoration: none;
        color: #F3F9FB; 
    } 
    .btn a {
        text-decoration: none;
        color: #F3F9FB;
        font-size: 20px;
    }
}

/*Responsive*/
