/*Nosotros*/

.historia__parrafo {
    border-radius: 5px 20px 5px;
    border: solid 10px #87c0cdab;
    font-size: 1.1em;
    padding: 25px;
}
.historia__img {
    width: 85%;
    height: 60%;
    margin-top: -10px;
    margin-bottom: -10px;
}
.historia__parrafo2 {
    border-radius: 5px 20px 5px;
    border: solid 10px #87c0cdab;
    font-size: 1.1em;
    padding: 25px;
    text-align: center;
}
.historia__logo {
    width: 200px;
    height: 50px;
    margin-top: 5px;
}
/*Fin Nosotros*/